header{
    background-color: rgb(225, 61, 61);
}
nav{
    background-color: rgb(220, 120, 120);
}
section{
    background-color: rgb(54, 183, 142);
}
body{
    background-color: rgb(50, 12, 12);
}
h2{
    text-align: center;
}